@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #333333;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.logo-image {
  width: 100%; /* or a fixed width, e.g. 500px */
  height: auto; /* or a fixed height, e.g. 500px */
  object-fit: cover; /* or object-fit: contain */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
